@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/rubik-v26-cyrillic_cyrillic-ext_latin-regular.woff2') format('woff2'),
       url('./fonts/rubik-v26-cyrillic_cyrillic-ext_latin-regular.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/rubik-v26-cyrillic_cyrillic-ext_latin-500.woff2') format('woff2'),
       url('./fonts/rubik-v26-cyrillic_cyrillic-ext_latin-500.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/rubik-v26-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2'),
       url('./fonts/rubik-v26-cyrillic_cyrillic-ext_latin-700.woff') format('woff');
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Rubik","Arial", sans-serif;
  font-weight: 400;
}
.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Header section started  */
.site-header__top {
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}
.site-header__wrapper {
  display: flex;
  justify-content: center;

}
.site-header__left {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.site-header__photo{
  margin-right: 35px;
  border-radius: 7px;
  background-color: #fff;
}
.header-photo {
  border-radius: 60px;
}
.site-header__text {
  display: flex;
  gap: 8px;
  margin-right: 25px;
  line-height: 19px;
  font-weight: 500;
  font-size: 16px;
  color: #555555;
}
.text-right {
  margin-right: 262px;
}
.dollor {
  color: #2959CE;
}
.right-header {
  display: flex;
  align-items: center;
}
.site-header__search {
  width: 275px;
  margin-right: 25px;
  padding: 15px 21px 13px 41px;
  border: none;
  border-radius: 60px;
  outline: none;
  border: 1px solid transparent;
  background-image: url("./mainfoto/search.svg");
  background-size: 20px 19px;
  background-repeat: no-repeat;
  background-position: left 15px center;
}
.site-search-input:focus {
  border-color: #7296ec;
}
.site-search-input::placeholder {
  color: black;
  font-weight: 500;
}
.site-header__photo {
  margin-right: 25px;
}
.language {
  display: flex;
  align-items: center;
  width: 70px;
  margin-right: 25px;
  padding: 3px;
  padding-right: 13px;
  height: 36px;
  border-radius: 39px;
  background-color: #dce6ff;
}
.language-text {
  display: inline-block;
  padding: 8px 7px 7px 7px;
  font-size: 13px;
  line-height: 15px;
}
.white {
  display: inline-block;
  padding: 8px 7px 7px 7px;
  font-size: 13px;
  line-height: 15px;
  border-radius: 50%;
  background-color: white;
  padding: 6px;
}
.come {
  padding: 13px 20px 13px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: #7296ec;
  border-radius: 10px;
}

.header-img_end {
  margin: 0;
}
/* Site nav */
.site-header__list {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
  list-style: none;
}
.site-header__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7f7f7f;
}
/* header section finished  */
/* Main section started */
/* .site-main {
}
.container {
} */
.site-main__wrapper {
  display: flex;
  padding-bottom: 60px;
}
.site-main__left-wrap {
margin-right: 10px;
padding-bottom: 50px;
border-bottom: 1px solid #D2D2D2;
}
.active-text {
  margin-bottom: 0;
}
.left-wrap {
  display: flex;
  align-items: center;
}
.site-main__icon {
  margin-right: 10px;
}
.site-main__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5e5f61;
}
.timedate {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5e5f61;
}
.site-main__title {
  font-size: 26px;
  line-height: 36px;
}

.site-main__description {
  width: 797px;
}
.site-main__text {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
}
/* News rights  */

.site-news__right {
  padding: 20px 20px 25px 17px;
  margin-bottom: 10px;overflow-x: x;
  width: 393px;
  background-color: #f6f6f6;
  border-radius: 15px;

}
.site-right__title {
  margin-top: 0;
  font-size: 24px;
  line-height: 28px;
}
.site-right__list {
  list-style: none;
  padding-left: 0;
}
.site-right__desc {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 24px;
}
.site-right__text {
  margin-top: 0;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #5e5f61;
  border-bottom: 1px solid #D2D2D2;
}
.title__decs {
  margin-top: 20px;
}
.__active {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #5e5f61;
  margin-top: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #5e5f61;
}
/* News section finished  */

/* News bottom finished */
.news-bottom {
  padding-bottom: 100px;
}
.news-bottom__title {
  margin-top: 0;
  font-size: 24px;
  line-height: 28px;
}
.news-bottom_list {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}
.news-bottom__item {
  width: 393px;
  margin-right: 10px;
  padding: 20px 18px 15px 17px;
  list-style: none;
  background-color: #f6f6f6;
  border-radius: 15px;
}
.news-bottom__item:nth-last-child(1) {
  margin-right: 0;
}

.news-bottom__desc-wrap {
  width: 358px;
}
.news-bottom__desc {
  margin-top: 0;
  font-size: 20px;
  line-height: 26px
}
.news-bottom__text {
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
}
/* News bottom started */

/* Main section finished */
/* Footer section started  */
.sitefooter {
  background-color: #7297ef;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer__link {
  padding-left: 120px;
  padding-right: 100px;
}
.site__wrapper {
  padding-left: 120px;
  padding-right: 100px;
}
.site-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 30px;
  padding-right: 85px;
}
.site-footer__list {
  padding-left: 0;
  padding-right: 0;
  margin-right: 5px;
 }
 .site-footer__listactive__list {
  margin-right: 45px;
  padding-left: 0;
 }
.site-footer__item {
   margin-bottom: 20px;
    list-style: none;
  }
.site-footer__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
}
.site-footer__desc {
  margin-right: 50px;
  width: 200px;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #ffffff;
}
.site-footer__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.line {
  margin-bottom: 20px;
}
.site-footer__top {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.site-footer__title {
  width: 264px;
  margin-left: 110px;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.site-footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer__lists {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  list-style: none;
}
.site-footer__items {
  margin-right: 28px;
}
.site-footer__items:nth-child(4) {
  margin-right: 0;
}
.site-footer__description {
  width: 161px;
  }
.aside {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}


/* Footer section finished */